.container {
    padding-top:2rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );
}

.grid-item {
    padding: 1rem;
}

.grid-item:hover {
    box-shadow: inset 0 0 0 1px gray;
}

