#app {
  /* min-width: 375px; */
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.banner {
  width: 100%;
  max-width: 30rem;
  height: auto;
}

.card {
  padding: 2em;
}

