:root {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
  font-family: 'Maitree', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a.active {
  color: grey;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.banner {
  width: 100%;
  max-width: 30rem;
  height: auto;
}

